@{
    ViewBag.Title = "404 - Not Found";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container text-center mt-5 col-md-6 offset-3 alert alert-danger text-center">
    <h1 class="display-4">404 - Not Found</h1>
    <p class="lead">The page you are looking for might have been removed, had its name changed, or is temporarily unavailable.</p>
    <hr />
    <p>
        Return to
        <a asp-controller="Movies" asp-action="Index">Home Page</a>.
    </p>

</div>
